<div class="text-center d-flex vh-100">
    <div class="form-center">
        <form (ngSubmit)="submit()" novalidate>
            <img class="mb-4" src="assets/img/geniemd.png" alt="" height="57">
            <h1 class="h3 mb-3 fw-normal">Please enter clinic ID</h1>
            <div class="mb-3 form-check">
                <!-- <label for="inputEmail" class="visually-hidden">Clinic ID</label> -->
                <input type="text" id="clinicId" name="clinicId" [(ngModel)]="clinicId" class="form-control" placeholder="Enter Clinic ID" required=""
                    autofocus="">
            </div>
            <button type="submit" class="btn btn-primary">Procced</button>
            <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
        </form>
    </div>
</div>