<div class="modal-header gradient-image ">Add New Patient</div>
<div class="modal-body">
    <div class="row mb-2">
        <div class="col-md-12">
            <button type="button" (click)="changeType('1')" class="btn btn-raised btn-outline-success col-md-6"
                [ngClass]="{'bg-success text-white':addressType == 1, '':addressType != 1}">General</button>
            <button type="button" (click)="changeType('2')" class="btn btn-raised btn-outline-success col-md-6"
                [ngClass]="{'bg-success text-white':addressType == 2, '':addressType != 2}">Address</button>
        </div>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="register()" novalidate="">
        <ng-container *ngIf="addressType == 1">
            <div class="col-md-12">
                <div class="form-group text-title ">
                    <label for="firstname"><span class="error-class">*</span> First Name</label>
                    <input type="text" class="form-control text-title" id="firstname" placeholder=""
                        formControlName="firstName"
                        [ngClass]="{ 'is-invalid': registerSubmit && g.firstName.errors,'border-danger':registerSubmit && g.firstName.errors }">
                    <div *ngIf="registerSubmit && g.firstName.errors" class="invalid-feedback display-block">
                        <div *ngIf="g.firstName.errors.required">First Name is required</div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group text-title">
                  <label for="lastname"><span class="error-class">*</span> Last Name</label>
                  <input type="text" class="form-control text-title" id="lastname" placeholder="" formControlName="lastName"
                    [ngClass]="{ 'is-invalid': registerSubmit && g.lastName.errors,'border-danger':registerSubmit && g.lastName.errors }">
                  <div *ngIf="registerSubmit && g.lastName.errors" class="invalid-feedback display-block">
                    <div *ngIf="g.lastName.errors.required">Last Name is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group text-title">
                  <label for="birth">Gender</label>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="custom-control custom-radio display-inline-block">
                            <input type="radio" id="customRadio1" name="gender" class="custom-control-input" [value]="0"
                              formControlName="gender">
        
                            <label class="custom-control-label text-title" for="customRadio1">Male</label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="custom-control custom-radio display-inline-block">
                            <input type="radio" id="customRadio2" name="gender" class="custom-control-input" [value]="1"
                              formControlName="gender">
                            <label class="custom-control-label text-title" for="customRadio2">Female</label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="custom-control custom-radio display-inline-block">
                            <input type="radio" id="customRadio3" name="gender" class="custom-control-input" [value]="2"
                              formControlName="gender">
                            <label class="custom-control-label text-title" for="customRadio3">Others</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group text-title">
                  <label for="dob"><span class="error-class">*</span> DOB</label>        
                  <div class="input-group mb-0">
                    <input class="form-control text-title" placeholder="YYYY-MM-DD" name="dp" ngbDatepicker
                      #birthDate="ngbDatepicker" [minDate]="{year: 1921, month: 1, day: 1}"
                      [maxDate]="{year: currentYear, month: currentMonth, day: currentDay}" formControlName="dob"
                      [ngClass]="{ 'is-invalid': registerSubmit && g.dob.errors,'border-danger':registerSubmit && g.dob.errors }">
        
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="chooseDate()" type="button">
                        <i class="fa fa-calendar"></i>
                      </button>
                    </div>
                    <div *ngIf="registerSubmit && g.dob.errors" class="invalid-feedback display-block">
                      <div *ngIf="g.dob.errors.required">Bith Date is required</div>
                    </div>
                  </div>        
                </div>        
              </div>

              <div class="col-md-12">
                <div class="form-group text-title">
                  <label for="state"><span class="error-class">*</span> Language</label>
                  <!-- <input type="text" class="form-control text-title" id="state" placeholder="" formControlName="state"
                    [ngClass]="{ 'is-invalid': registerSubmit && g.state.errors,'border-danger':registerSubmit && g.state.errors }"> -->
                    <select class="text-dd form-control text-title border-none-drop-down" formControlName="languageId">
                      <option value="" disabled>Language</option>
                      <option *ngFor="let item of languages" [value]="item.id">{{item?.name}}
                      </option>
                  </select>
                  <div *ngIf="registerSubmit && g.languageId.errors" class="invalid-feedback display-block">
                    <div *ngIf="g.languageId.errors.required">Language is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group text-title">
                  <label for="email"><span class="error-class">*</span>Email</label>
                  <input type="email" class="form-control text-title" id="email" placeholder="" formControlName="email"
                    [ngClass]="{ 'is-invalid': registerSubmit && g.email.errors,'border-danger':registerSubmit && g.email.errors }">
                  <div *ngIf="registerSubmit && g.email.errors">
                    <div class="text-danger" *ngIf="registerSubmit && g.email.errors.required">Email is required</div>
                    <div class="text-danger" *ngIf="registerSubmit && g.email.errors.email">Please enter a valid email
                      address</div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group text-title">
                  <label for="phone"><span class="error-class">*</span>Mobile Number</label>
                  <input type="tel" class="form-control text-title" id="phone" placeholder="" formControlName="handphone"
                  [ngClass]="{ 'is-invalid': registerSubmit && g.handphone.errors,'border-danger':registerSubmit && g.handphone.errors }">
                  <div *ngIf="registerSubmit && g.handphone.errors" class="invalid-feedback display-block">
                    <div *ngIf="g.handphone.errors.required">Mobile Number is required</div>
                  </div>        
        
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group text-title">
                  <label for="state"><span class="error-class"></span> Morbidity</label>
                  <!-- <input type="text" class="form-control text-title" id="state" placeholder="" formControlName="state"
                    [ngClass]="{ 'is-invalid': registerSubmit && g.state.errors,'border-danger':registerSubmit && g.state.errors }"> -->
                    <select class="text-dd form-control text-title border-none-drop-down" formControlName="morbidity">
                      <option value="" disabled>Morbidity</option>
                      <option *ngFor="let item of morbidityDisease" [value]="item.name">{{item?.name}}
                      </option>
                  </select>
                  <div *ngIf="registerSubmit && g.morbidity.errors" class="invalid-feedback display-block">
                    <div *ngIf="g.morbidity.errors.required">Morbidity is required</div>
                  </div>
                </div>
              </div>
            
        </ng-container>

        <ng-container *ngIf="addressType == 2">
            <div class="col-md-12">
              <div class="form-group text-title ">
                <label for="address"><span class="error-class">*</span>Address</label>
                <input type="text" class="form-control text-title" id="address" placeholder="" formControlName="address"
                [ngClass]="{ 'is-invalid': registerSubmit && g.address.errors,'border-danger':registerSubmit && g.address.errors }">
                <div *ngIf="registerSubmit && g.address.errors" class="invalid-feedback display-block">
                  <div *ngIf="g.address.errors.required">Address is required</div>
                </div>
      
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group text-title ">
                <label for="city"><span class="error-class">*</span>City</label>
                <input type="text" class="form-control text-title" id="city" placeholder="" formControlName="city"
                [ngClass]="{ 'is-invalid': registerSubmit && g.city.errors,'border-danger':registerSubmit && g.city.errors }">
                <div *ngIf="registerSubmit && g.city.errors" class="invalid-feedback display-block">
                  <div *ngIf="g.city.errors.required">City is required</div>
                </div>
      
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group text-title ">
                <label for="country"><span class="error-class">*</span>Country</label>
                <input type="text" class="form-control text-title" id="country" placeholder="" formControlName="country"
                [ngClass]="{ 'is-invalid': registerSubmit && g.country.errors,'border-danger':registerSubmit && g.country.errors }">
                <div *ngIf="registerSubmit && g.country.errors" class="invalid-feedback display-block">
                  <div *ngIf="g.country.errors.required">Country is required</div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group text-title">
                <label for="state"><span class="error-class">*</span> State</label>
                <!-- <input type="text" class="form-control text-title" id="state" placeholder="" formControlName="state"
                                        [ngClass]="{ 'is-invalid': registerSubmit && g.state.errors,'border-danger':registerSubmit && g.state.errors }"> -->
                <select class="text-dd form-control text-title border-none-drop-down" formControlName="state">
                  <option value="" disabled>State</option>
                  <option *ngFor="let item of states" [value]="item.abbreviation">{{item?.abbreviation}}
                  </option>
                </select>
                <div *ngIf="registerSubmit && g.state.errors" class="invalid-feedback display-block">
                  <div *ngIf="g.state.errors.required">State is required</div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group text-title ">
                <label for="zipCode"><span class="error-class">*</span>Zip Code</label>
                <input type="text" class="form-control text-title" id="zipCode" placeholder="" formControlName="zipCode"
                [ngClass]="{ 'is-invalid': registerSubmit && g.zipCode.errors,'border-danger':registerSubmit && g.zipCode.errors }">
                <div *ngIf="registerSubmit && g.zipCode.errors" class="invalid-feedback display-block">
                  <div *ngIf="g.zipCode.errors.required">Zip Code is required</div>
                </div>
      
              </div>
            </div>
          </ng-container>
          
          <div  *ngIf="addressType == 1" class="row">


            <div class="form-group text-title col-md-3">
              <label for="state"><span class="error-class pl-3"></span> Monitor</label>             
            </div>
            <div class = "float-left col-md-6">
              <ui-switch ></ui-switch>
          </div>

             
          </div>
           
        <div class="row m-2 float-right pb-3">
            <button class="btn btn-danger w-130" (click)="closeModal()">Cancel</button>      
            <button *ngIf="addressType == 1" class="btn btn-success w-30 ml-2 w-130" type="button" (click)="next('2')" >Next</button>
            <button *ngIf="addressType == 2" class="btn btn-success w-30 ml-2" type="submit" >Create Patient</button>  
          </div>
    </form>
</div>