<nb-card size="large" style="overflow: auto" [nbSpinner]="isLoading" nbSpinnerMessage="Please wait. We are fetching the care team">
    <nb-card-header>
        <div class="row">
            <div class="col-2 offset-10 p-0">
                <!-- <button nbButton ghost size="gaint" class="f-right" (click)="open(dialog)">
                    <nb-icon icon="plus" nbTooltip="Add Care Givers" nbTooltipStatus="control" status="primary">
                    </nb-icon>
                </button> -->
                <nb-actions size="medium" class="justify-content-end">
                    <nb-action nbTooltip="Add Care Givers" nbTooltipPlacement="top" icon="plus-circle-outline" (click)="open(dialog)"></nb-action>
                </nb-actions>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body class="pl-1">
        <!-- <div class="row">
            <div class="col-md-12">
                <nb-list-item class="cursor-pointer d-flex justify-content-between" *ngFor="let user of careTeam">
                    <nb-user [name]="user.name" [title]="user.email" [picture]="user.imageUrl">
                    </nb-user>
                    <nb-icon icon="trash-2-outline" (click)="deleteCareGiver(user,deleteDialog)" nbTooltip="Remove Care Givers" nbTooltipStatus="control" class="text-danger">
                    </nb-icon>
                </nb-list-item>
                    <h6 *ngIf="!careTeam" class="text-center">{{'kMsgNoCaregivers' | translate}}</h6>
            </div>
        </div> -->
        <app-care-circle class="d-flex justify-content-center" [config]="team" (stopLoader)="isLoading = false"></app-care-circle>
    </nb-card-body>
</nb-card>
<ng-template #dialog>
    <nb-card class="dialog-card">
        <nb-card-header>
            <h6 class="text-center">{{'kTitleInviteCareGiver' | translate}}</h6>
        </nb-card-header>
        <nb-card-body>
            <input type="text" nbInput placeholder="Caregiver Username" [(ngModel)]="careGiver" name="careGiver">
        </nb-card-body>
        <nb-card-footer >
            <div class = "row justify-content-center"> 
                <div class="col-6">
                    <button nbButton status="danger" class="w-100" (click)="refclose()">{{'kCancel' | translate}}</button>
                </div>
                <div class="col-6">
                    <button nbButton status="primary" class="w-100" (click)="notify()">{{'kOk' | translate}}</button>
                </div>
            </div>
        </nb-card-footer>
    </nb-card>
</ng-template>

<ng-template #deleteDialog>
    <nb-card class="dialog-card">
        <nb-card-header>
            <h6 class="text-center">{{'kDelete'| translate}} </h6>
        </nb-card-header>
        <nb-card-body>
            <p>{{'KDeleteCaregiver' | translate}}</p>
        </nb-card-body>
        <nb-card-footer>
            <button nbButton status="primary" class="f-right w-100" (click)="deleteRecord()">{{'kYes' | translate}}</button>
            <button nbButton status="danger" class="f-right  w-100" (click)="close()">{{'kNo' | translate}}</button>
        </nb-card-footer>
    </nb-card>
</ng-template>
