<div class="float-end">
    <nb-actions size="medium">
        <nb-action nbTooltip="Add Patient" nbTooltipPlacement="top" icon="plus-circle-outline"
            (click)="open(devicedialog)"></nb-action>
    </nb-actions>
</div>

<ng-template #devicedialog>
    <nb-card class="dialog-card">
        <nb-card-header>
            <h6 class="text-center">Add Devices</h6>
        </nb-card-header>
        <nb-card-body>
            <form [formGroup]="deviceForm">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group mb-1">
                                <label for="deviceTypes" class="label"> <span class="danger"></span>
                                   Device Type</label>
                                    <nb-select id="deviceTypes" size="medium" fullWidth formControlName="deviceType"
                                         placeholder="Select Device type">
                                        <nb-option *ngFor="let item of deviceTypes" [value]="item.name">
                                            {{item?.name}}</nb-option>
                                    </nb-select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group mb-1">
                            <label for="manufacturer" class="label"> <span class="text-danger">*</span>
                                Manufacturer</label>
                            <input type="text" fieldSize="medium" formControlName="manufacturer" nbInput fullWidth
                                id="manufacturer" placeholder="Manufacturer">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group mb-1">
                            <label for="serialNumber" class="label">
                                Serial Number</label>
                            <input type="text" fieldSize="medium" formControlName="serialNumber" nbInput fullWidth
                                id="serialNumber" placeholder="Serial Number">
                        </div>
                    </div>
                </div>
            </form>
        </nb-card-body>
        <nb-card-footer>
            <div class="float-end">
                <button nbButton status="danger" size="small" (click)="refclose()">{{'kCancel' | translate}}</button>
                <button nbButton status="success" class="ms-2" size="small" [disabled]="!deviceForm.valid"
                    (click)="save()">{{'kSave' | translate}}</button>
            </div>
        </nb-card-footer>

    </nb-card>
</ng-template>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Device Type</th>
            <th scope="col">Manufacturer</th>
            <th scope="col">Serial Number</th>
            <th class="text-center" scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data">
            <td>{{item.deviceType}}</td>
            <td>{{item.manufacturer}}</td>
            <td>{{item.serialNumber}}</td>
            <td class="text-center">
                <nb-icon icon="trash" nbTooltip="Delete" (click)="openDialog(deleteDialog)" nbTooltipStatus="control"
                    status="primary"></nb-icon>
            </td>
        </tr>
        <tr *ngIf="data.length==0" class="text-center">
            <td colspan="4">
                <p>No Records Found</p>
            </td>
        </tr>
    </tbody>
</table>
<ng-template #deleteDialog>
    <nb-card class="dialog-card">
        <nb-card-header>
            <p class="subtitle">Are you sure want to delete?</p>
        </nb-card-header>
        <nb-card-body>
            <div class="float-end">
                <button nbButton status="success" size="small" (click)="delete(id)">Yes</button>
                <button nbButton status="danger" class="ms-2" size="small" (click)="close()">No</button>
            </div>
        </nb-card-body>
    </nb-card>
</ng-template>