<div class="d-flex align-items-center h-100 justify-content-center mb-3">
  <span class="ps-2">
      <img [src]="logo" alt="" height="75">
  </span>
</div>
<h1 id="title" class="title">{{'kLogin' | translate}}</h1>
<form (ngSubmit)="login()" #form="ngForm" aria-labelledby="title" [nbSpinner]="isLoading">
  <div class="form-control-group m-0">
    <label class="label m-0" for="input-email">{{'kEmailOrUsername' | translate}}:</label>
    <input nbInput
           fullWidth
           [(ngModel)]="model.username"
           #email="ngModel"
           name="email"
           id="input-email"
           placeholder="{{'kEmailOrUsername' | translate}}"
           autofocus
           [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
           [required]="getConfigValue('forms.validation.email.required')"
           [attr.aria-invalid]="email.invalid && email.touched ? true : null">
    <ng-container *ngIf="email.invalid && email.touched">
      <p class="error-message" *ngIf="email.errors?.required">
        {{'kEmailRequired' | translate}}
      </p>
    </ng-container>
  </div>

  <div class="form-control-group m-0">
    <label class="label m-0" for="input-password">{{'kPassword' | translate}}:</label>
    <input nbInput
           fullWidth
           [(ngModel)]="model.password"
           #password="ngModel"
           name="password"
           type="password"
           id="input-password"
           placeholder="{{'kPassword' | translate}}"
           [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : ''"
           [required]="getConfigValue('forms.validation.password.required')"
           [attr.aria-invalid]="password.invalid && password.touched ? true : null">
    <ng-container *ngIf="password.invalid && password.touched ">
      <p class="error-message" *ngIf="password.errors?.required">
        {{'kPasswordisrequired' | translate}}
      </p>
    </ng-container>
  </div>

  <div class="form-control-group accept-group mt-4 mb-4">
    <!-- <nb-checkbox name="rememberMe" [(ngModel)]="user.rememberMe" *ngIf="rememberMe">Remember me</nb-checkbox> -->
    <a class="forgot-password m-0" routerLink="../forgot">{{'kLabelForgotPassword' | translate}}</a>
  </div>

  <button nbButton
          fullWidth
          status="success"
          [disabled]="submitted || !form.valid"
          [class.btn-pulse]="submitted">
          {{'kLogin' | translate}}
  </button>
</form>

<section class="another-action" aria-label="Register">
  {{'kDontHaveAccount' | translate}}? <a class="text-link" routerLink="../register">{{'kRegister' | translate}}</a>
  <p class="copyright text-center caption">
    {{'kVersion' | translate}}: {{version}}
</p>