.avatar-zone{
    width:761px;
    height:250px;
    background-color:#CCCCCC;
    overflow: hidden;
}

nb-tabset ::ng-deep > ul  {
    position: -webkit-sticky; /* Safari */
    position: sticky; 
    top:0;
    z-index: 500;
    background-color: white;
}