
<form [formGroup]="profileForm"  (ngSubmit)="onSubmit()">
        <div class="row">
                <div class="col-md-12">
                    <nb-card>
                        <nb-card-header>Add New Patient</nb-card-header>
                        <nb-card-body>
                            <div>
                                <h6 class="card-subtitle mb-3 mt-2 text-muted">General</h6>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group mb-3">
                                        <label for="inputFirstName" class="label"> <span class="text-danger">*</span> First
                                            Name</label>
                                        <input type="text"  formControlName="firstName" nbInput fullWidth id="inputFirstName" placeholder="First Name">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group mb-3">
                                        <label for="inputLastName" class="label"> <span class="text-danger">*</span> Last
                                            Name</label>
                                        <input type="text" formControlName="lastName" nbInput fullWidth id="inputLastName" placeholder="Last Name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group mb-3">
                                        <label for="inputFirstName" class="label"> <span class="danger"></span> Gender</label>
                                        <nb-radio-group formControlName="gender" class="row d-flex justify-content-center pt-0 p-3"
                                            [(ngModel)]="selectedOption" [ngModelOptions]="{standalone: true}" name="my-radio-group">
                                            <nb-radio class=" col-md-12 col-lg-4" value="1">Male</nb-radio>
                                            <nb-radio class=" col-md-12 col-lg-4" value="2">Female</nb-radio>
                                            <nb-radio class=" col-md-12 col-lg-4" value="3">Others</nb-radio>
                                        </nb-radio-group>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group mb-3">
                                                <div for="inputFirstName" class="label"> <span class="text-danger">*</span> Date Of
                                                    Birth</div>
                                                <input nbInput formControlName="dob" placeholder="Pick Date" [nbDatepicker]="formcontrol"
                                                    [formControl]="formControl">
                                                <nb-datepicker #formcontrol></nb-datepicker>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group mb-3 w-100">
                                                <label for="inputMobile" class="label"> <span class="text-danger">*</span> Mobile
                                                    Number</label>
                                                <input type="number" formControlName='handphone' nbInput fullWidth id="inputMobileNumber"
                                                    placeholder="Mobile Number">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group mb-3">
                                        <label for="inputEmail" class="label"> <span class="text-danger">*</span> Email</label>
                                        <input type="email" formControlName="email" nbInput fullWidth id="inputEmail" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group mb-3">
                                                <label for="inputLanguage" class="label"> <span class="text-danger">*</span>
                                                     Language
                                                </label>
                                                <div>
                                                    <nb-select id="inputLanguage" formControlName="language" placeholder="Select Language" >
                                                        <nb-option value="">Select Language</nb-option>
                                                        <nb-option *ngFor="let item of languages" [value]="item.id">{{item?.name}}</nb-option>
                                                   
                                                    </nb-select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group mb-3">
                                                <label for="inputMorbidity" class="label"> <span class="danger"></span>
                                                    Morbidity</label>
                                                <div>
                                                    <nb-select id="inputMorbidity" formControlName="morbidity" placeholder="Select Morbidity">
                                                        <nb-option value="">Select Morbidity</nb-option>
                                                        <nb-option *ngFor="let item of morbidityDisease" [value]="item.name">{{item?.name}}</nb-option>
                                                    
                                                    </nb-select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group mb-3">
                                        <div class="row">
                                            <div class="col-sm-2 mt-auto mb-auto">
                                                <label for="inputMoniter" class="label"> <span class="danger"></span>
                                                    Monitor</label>
                                            </div>
                                            <div class="col-sm-8 mt-auto">
                                                <nb-toggle></nb-toggle>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6"></div>
                            <div>
                                <h6 class="card-subtitle mb-3 mt-2 text-muted">Address</h6>
                            </div>
                            <!-- formGroupName="addressdetails" -->
                            <div class="row" >
                                <div class="col-sm-6">
                                    <div class="form-group mb-3">
                                        <label for="inputAddress" class="label"> <span class="text-danger">*</span> Address</label>
                                        <input type="text" formControlName="address" nbInput fullWidth id="inputAddress" placeholder="Enter the Address">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group mb-3">
                                        <label for="inputCity" class="label"> <span class="text-danger">*</span> City</label>
                                        <input type="text" formControlName="city" nbInput fullWidth id="inputCity" placeholder="Enter the City">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group mb-3">
                                        <label for="inputCountry" class="label"> <span class="text-danger">*</span> Country</label>
                                        <input type="text" formControlName="country" nbInput fullWidth id="inputCountry" placeholder="Eneter the Country">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group mb-3">
                                                <label for="inputState" class="label"> <span class="text-danger">*</span>
                                                     State</label>
                                                <div>
                                                    <nb-select id="inputState" formControlName="state" placeholder="Select State">
                                                        <nb-option value="">Select State</nb-option>
                                                        <nb-option *ngFor="let item of states" [value]="item.abbreviation">{{item?.abbreviation}}</nb-option>
                                                     
                                                    </nb-select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group mb-3">
                                                <label for="inputZipCode" class="label"> <span class="text-danger">*</span> Zip
                                                    Code</label>
                                                <input type="text" formControlName="zipcode" nbInput fullWidth id="inputZipCode"
                                                    placeholder="Enter Zip Code">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-lg-6 col-md-4">
                                </div>
                                <div class="col-sm-8 col-lg-6 col-md-8 d-flex justify-content-end">
                                    <div class="row">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-4 d-flex justify-content-end">
                                            <button nbButton status="danger" (click)=cancelPatient()>Cancel</button>
                                        </div>
                                        <div class="col-sm-7">
                                            <button  [disabled]="!profileForm.valid" nbButton status="success">Create Patient</button>
                                            {{profileForm.addressDetails}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nb-card-body>
                    </nb-card>
                </div>
            </div>
</form>
