@import 'src/themes';

.avatar-zone{
    width:761px;
    height:232px;
    overflow: hidden;
}
.dark nb-tabset ::ng-deep > ul  {
    position: --webkit-sticky; /* Safari */
    position: sticky; 
    top:0;
    z-index: 500;
    background-color: #222b45;
}
.default nb-tabset ::ng-deep > ul  {
    position: --webkit-sticky; /* Safari */
    position: sticky; 
    top:0;
    z-index: 500;
    background-color: white;
}

nb-tabset ::ng-deep > ul >li >a:focus  {
   outline : none;
}
.card-width{
    min-width: 878px;
    max-width: 878px;
}

.bg-darks {
    background-color: #222b45;
}

.bg-light {
    background-color: white;
}
.cursor-pointer{
    cursor: pointer;
}