    <nb-card size="large" [nbSpinner]="isLoading">      
        <nb-card-header>
            <div class="row">
                <div class="col-md-10 col-sm-9"> {{!!patientID ? 'Edit' :'Add'}} Patient</div>
            </div>
        </nb-card-header>
        <nb-card-body>
            <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="m-auto w-60">
            <nb-tabset>
                <nb-tab tabTitle="General">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-1">
                                <label for="inputFirstName" class="label"> <span class="text-danger">*</span> 
                                    {{'kFirstName' | translate}}</label>
                                <input type="text" fieldSize="medium" formControlName="firstName" nbInput fullWidth
                                    id="inputFirstName" placeholder="First Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-1">
                                <label for="inputLastName" class="label"> <span class="text-danger">*</span> 
                                    {{'kLastName' | translate}}</label>
                                <input type="text" fieldSize="medium" formControlName="lastName" nbInput fullWidth
                                    id="inputLastName" placeholder="Last Name">
                            </div>
                        </div>
        
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group mb-1">
                                <label for="inputFirstName" class="label"> <span class="danger"></span>{{'kGender' | translate}}</label>
                                <nb-radio-group formControlName="gender" class="row d-flex justify-content-center pt-0 p-3"
                                    name="my-radio-group">
                                    <nb-radio class=" col-md-4" *ngFor="let item of genderArr" [value]="item.value">{{item?.id}}
                                    </nb-radio>
                                </nb-radio-group>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-1">
                                <div for="inputFirstName" class="label"> <span class="text-danger">*</span> 
                                    {{'kMsgDob' | translate}}</div>
                                <input nbInput class="w-100" fieldSize="medium" formControlName="dob" placeholder="DD/MM/YYYY"
                                    [nbDatepicker]="formcontrol" fullWidth>
                                <nb-datepicker #formcontrol></nb-datepicker>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-1">
                                <label for="inputLanguage" class="label"> <span class="text-danger">*</span>
                                    {{'kLanguage' | translate}}
                                </label>
                                <div>
                                    <nb-select size="medium" class="w-100" id="inputLanguage" formControlName="language"
                                        placeholder="Select Language" fullWidth>
                                        <nb-option *ngFor="let item of languages" [value]="item.id">{{item?.name}}
                                        </nb-option>
        
                                    </nb-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-1 w-100">
                                <label for="inputMobile" class="label"> <span class="text-danger">*</span>
                                    {{'kMobileNumber' | translate}}</label>
                                <input fieldSize="medium" type="number" formControlName='handphone' nbInput fullWidth
                                    id="inputMobile" placeholder="Mobile Number">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-1">
                                <label for="inputEmail" class="label"> <span class="text-danger">*</span>
                                    {{'kEmailAddress' | translate}}</label>
                                <input fieldSize="medium" type="email" formControlName="email" nbInput fullWidth id="inputEmail"
                                    placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-1">
                                <label for="inputAddress" class="label"> <span class="text-danger">*</span>
                                    {{'kAddress' | translate}}</label>
                                <input type="text" fieldSize="medium" formControlName="address" nbInput fullWidth
                                    id="inputAddress" placeholder="Enter the Address">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-1">
                                <label for="inputCity" class="label"> <span class="text-danger">*</span>
                                    {{'kCity' | translate}}</label>
                                <input type="text" fieldSize="medium" formControlName="city" nbInput fullWidth id="inputCity"
                                    placeholder="Enter the City">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-1">
                                <label for="inputState" class="label"> <span class="text-danger">*</span>
                                    {{'kState' | translate}}</label>
                                <div>
                                    <nb-select id="inputState" size="medium" class="w-100" fullWidth formControlName="state"
                                        placeholder="Select State">
                                        <nb-option *ngFor="let item of states" [value]="item.abbreviation">
                                            {{item?.abbreviation}}</nb-option>
        
                                    </nb-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-1">
                                <label for="inputZipCode" class="label"> <span class="text-danger">*</span> 
                                    {{'kZipCode' | translate}}</label>
                                <input type="text" fieldSize="medium" formControlName="zipcode" nbInput fullWidth
                                    id="inputZipCode" placeholder="Enter Zip Code">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-1">
                                <label for="inputCountry" class="label"> <span class="text-danger">*</span>
                                    {{'kCountry' | translate}}</label>
                                <input type="text" fieldSize="medium" formControlName="country" nbInput fullWidth
                                    id="inputCountry" placeholder="Enter the Country">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-1">
                                <label for="inputMorbidity" class="label"> <span class="danger"></span>
                                    {{'kMorbidity' | translate}}</label>
                                <div>
                                    <nb-select size="medium" fullWidth id="inputMorbidity" formControlName="morbidity"
                                        placeholder="Select Morbidity">
                                        <nb-option *ngFor="let item of morbidityID" [value]="item.id">{{item?.name}}
                                        </nb-option>
                                    </nb-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-1">
                                <label for="vitals" class="label">
                                {{'kVitals' | translate}}</label>
                                <nb-select size="medium" fullWidth multiple id="vitals" formControlName="vitals" placeholder="Select Vitals" [(selected)]="selectedItem">
                                    <!-- <nb-select-label *ngFor="let item of selectedItem">
                                        {{ item.displayName }}
                                    </nb-select-label> -->
                                    <nb-option *ngFor="let item of vitals" [value]="item?.vitalType">{{item?.displayName}}
                                    </nb-option>
                                </nb-select>
                            </div>
                        </div>
                        <div class="col-md-6 my-auto">
                            <div class="form-group mt-5">
                                <nb-checkbox status="info" formControlName="monitored">{{'kMonitored' | translate}}</nb-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="row  justify-content-end">
                        <div class="col-auto mr-2 ml-2 d-flex justify-content-end">
                            <button nbButton status="danger" (click)=cancelPatient()>{{'kCancel' | translate}}</button>
                        </div>
                        <div class="col-auto d-flex justify-content-end">
                            <button class="mr-3" [disabled]="!profileForm.valid" nbButton
                                status="success">{{'kSave' | translate}}</button>
                        </div>
                    </div>
                </nb-tab>
                <nb-tab tabTitle="Insurance">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-1">
                                    <label for="policyHolder" class="label">
                                        Policy holder</label>
                                    <input type="text" fieldSize="medium" formControlName="policyHolder" nbInput fullWidth
                                        id="policyHolder" placeholder="Policy Holder">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-1">
                                    <label for="holderName" class="label">
                                        Policy holder name
                                    </label>
                                    <div>
                                        <nb-select size="medium" id="holderName" formControlName="holderName"
                                            placeholder="Policy holder name" fullWidth>
                                            <nb-option *ngFor="let item of policyHolderName" [value]="item.id">{{item?.name}}
                                            </nb-option>
                                        </nb-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                    <div class="form-group mb-1">
                                        <div for="insuranceDob" class="label"> 
                                            Date of Birth</div>
                                        <input nbInput fullWidth fieldSize="medium" formControlName="insuranceDob" placeholder="DD/MM/YYYY"
                                            [nbDatepicker]="formcontrol" fullWidth>
                                        <nb-datepicker #formcontrol></nb-datepicker>
                                    </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-1">
                                    <label for="claimAddress" class="label">
                                        Claim submission address</label>
                                    <input type="text" fieldSize="medium" formControlName="claimAddress" nbInput fullWidth
                                        id="claimAddress" placeholder="Claim submission address">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-1">
                                    <label for="insuranceCarrier" class="label">
                                        Primary Insurance Carrier</label>
                                    <input type="text" fieldSize="medium" formControlName="insuranceCarrier" nbInput fullWidth
                                        id="insuranceCarrier" placeholder="Primary Insurance Carrier">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-1">
                                    <label for="medType" class="label">
                                        Type
                                    </label>
                                    <div>
                                        <nb-select size="medium" id="medType" formControlName="medType"
                                            placeholder="Type" fullWidth>
                                            <nb-option *ngFor="let item of mediType" [value]="item.id">{{item?.name}}
                                            </nb-option>
                                        </nb-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-1">
                                    <label for="policyNumber" class="label">
                                        Subscriber ID / Policy Number</label>
                                    <input type="text" fieldSize="medium" formControlName="policyNumber" nbInput fullWidth
                                        id="policyNumber" placeholder="Subscriber ID / Policy Number">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-1">
                                    <label for="groupNumber" class="label">
                                        Group Number</label>
                                    <input type="text" fieldSize="medium" formControlName="groupNumber" nbInput fullWidth
                                        id="groupNumber" placeholder="Group Number">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-1">
                                    <label for="plan" class="label">
                                       Plan</label>
                                    <input type="text" fieldSize="medium" formControlName="plan" nbInput fullWidth
                                        id="plan" placeholder="Plan">
                                </div>
                            </div>
                        </div>     
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <h6>Insurance Card Photos</h6>
                                      <div class="avatar-zone">
                                          <img [src]="frontImageURl">
                                      </div> 
                                        <div class="m-4 text-center">
                                        <input type="file" hidden #choosefile (change)="changeFrontFile($event)">
                                        <button nbButton status="primary" class="mr-1" type="button" (click)="choosefile.click()">
                                            Upload front image
                                        </button>
                                        </div>
                            </div>
                        </div>    
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <div class="avatar-zone">
                                    <img [src]="backImageURL">
                                </div> 
                                  <div class="m-4 text-center">
                                    <input type="file" hidden #chooseBackfile (change)="changeBackFile($event)">
                                    <button nbButton status="primary" class="mr-1" type="button" (click)="chooseBackfile.click()">
                                        Upload Back image
                                    </button>
                                    </div>
                            </div>
                        </div>                     
                </nb-tab>
                <nb-tab tabTitle="Emergency Contact">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group mb-1">
                                    <label for="contactName" class="label">
                                        Name</label>
                                    <input type="text" fieldSize="medium" formControlName="emergencyName" nbInput fullWidth
                                        id="contactName" placeholder="Name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group mb-1">
                                    <label for="relation" class="label">
                                        Relation</label>
                                    <div>
                                        <nb-select size="medium" fullWidth id="relation" formControlName="emergencyRelation"
                                             placeholder="Relation">
                                            <nb-option *ngFor="let item of relation" [value]="item.id">{{item?.value}}
                                            </nb-option>
                                        </nb-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group mb-1">
                                    <label for="phoneNumber" class="label">
                                        Phone Number</label>
                                    <input type="text" fieldSize="medium" formControlName="emergencyNumber" nbInput fullWidth
                                        id="phoneNumber" placeholder="PhoneNumber">
                                </div>
                            </div>
                        </div> 
                  </nb-tab>
                  <nb-tab tabTitle="Devices">
                      </nb-tab>
               </nb-tabset>
            </form>
        </nb-card-body>
    </nb-card>
