.avatar-zone{
    width:761px;
    height:232px;
    overflow: hidden;
}

nb-tabset ::ng-deep > ul  {
    position: -webkit-sticky; /* Safari */
    position: sticky; 
    top:0;
    z-index: 500;
    background-color:  nb-theme(background-basic-color-1);
}
nb-tabset ::ng-deep > ul >li >a:focus  {
   outline : none;
}
.card-width{
    min-width: 878px;
    max-width: 878px;
}
.bg-gray{
    background-color: #ced4da;
}
.cursor-pointer{
    cursor: pointer;
}