<nb-card size="large" [nbSpinner]="isLoading">
    <nb-list>
        <nb-list-item>
                <div class="row w-100">
                    <div class="col-sm-10">
                        <nb-form-field>

                        <input type="search" name="searchText" fullWidth status="success" nbInput
                            [(ngModel)]="searchText" (ngModelChange)="getData()">
                        </nb-form-field>

                    </div>

                    <div class="col-sm-2">
                        <div class="" data-toggle="tooltip" data-placement="top"
                            title="Add New Patient">
                            <button ghost="true" class="float-right "
                                [routerLink]="['create']" nbButton>
                            <nb-icon status="primary" icon="plus"></nb-icon>
                            </button>
                                
                        </div>
                    </div>
                </div>
        </nb-list-item>
        <nb-list-item class="form-control border shadow-none" *ngFor="let user of users" [routerLink]="[user?.patientID, 'vitals']">
            <nb-user class="cursor-pointer warning" [ngClass]="{'success': user.alarm == 0, 'warning': user.alarm == 1, 'danger': user.alarm == 2}" [name]="user.name" [title]="user.email" [picture]="user.imageUrl">
            </nb-user>
        </nb-list-item>
        <nb-list-item *ngIf="!users?.length">
            <p>No patients found. <a [routerLink]="['create']">Create New Patient</a></p>
        </nb-list-item>
    </nb-list>
</nb-card>