<nb-card size="large" [nbSpinner]="isLoading" > 
    <nb-list>
        <nb-list-item>
            <nb-form-field>
                <nb-icon nbPrefix icon="search-outline"></nb-icon>
                <input type="search"  name="searchText" fullWidth status="success" nbInput  [(ngModel)]="searchText" (ngModelChange)="getData()">
            </nb-form-field>
        </nb-list-item>
        <nb-list-item *ngFor="let user of users">
            <nb-user [name]="user.firstName" [title]="user.lastName">
            </nb-user>
        </nb-list-item>
    </nb-list>
</nb-card>