<nb-card size="large" [nbSpinner]="isLoading">
    <nb-list>
        <nb-list-item>
            <nb-form-field>
                <div class="row">
                    <div class="col-sm-10 position-relative">
                        <div class="position-absolute align-middle p-2">
                            <nb-icon class="position-absolute align-text-bottom top-10 start-30" nbPrefix
                                icon="search-outline"></nb-icon>                              
                        </div>
                        <input type="search" name="searchText" fullWidth status="success" nbInput
                            [(ngModel)]="searchText" (ngModelChange)="getData()">
                    </div>
                    <div class="col-sm-2">
                        <div class="d-flex flex-row-reverse" data-toggle="tooltip" data-placement="top"
                            title="Add New Patient">
                            <button ghost="true" class="float-right "
                                [routerLink]="['create']" nbButton status="info">
                            <nb-icon icon="plus-outline" status="warning"></nb-icon>
                            </button>
                                
                        </div>
                    </div>
                </div>
            </nb-form-field>
        </nb-list-item>
        <nb-list-item *ngFor="let user of users" >
            <!-- <a [routerLink]="['/patients',user.patientID]"> -->
                    <nb-user class="w-100" [name]="user.name" [title]="user.email">
                    </nb-user>
                    <nb-icon icon="edit" [routerLink]="[user?.patientID, 'edit']" ></nb-icon>         
            <!-- </a> -->
        </nb-list-item>
        <nb-list-item *ngIf="!users?.length">
            <p>No patients found. <a [routerLink]="['create']">Create New Patient</a></p>
        </nb-list-item>
    </nb-list>
</nb-card>