<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                <h3>Todo</h3>
            </nb-card-header>
        </nb-card>
    </div>
    <div class="pt-4" [nbSpinner]="isLoading">
        <div class="d-flex mb-4 ms-4 position-relative">
        </div>
    </div>
</div>
<div>
    <ngx-datatable class="bootstrap" [rows]="data" [columnMode]="ColumnMode.force" [scrollbarV]="true" [headerHeight]="50" [rowHeight]="50" [loadingIndicator]="isLoading" [scrollbarV]="true" style="height: 1000px;">
        <ngx-datatable-column name="Type" [maxWidth]="250">
            <ng-template let-value="value" ngx-datatable-cell-template>
                <span>{{value}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="StartDate" [maxWidth]="250" headerClass="text-center" cellClass="text-center">
            <ng-template let-value="value" ngx-datatable-cell-template>
                <span>{{value | date : 'dd/MM/yy, h:mm a'}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Duration" [maxWidth]="200" headerClass="text-center" cellClass="text-center">
            <ng-template let-value="value" ngx-datatable-cell-template let-row="row">
                <span>{{value}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="ImageUrl" headerClass="text-center" cellClass="text-center">
            <ng-template let-value="value" ngx-datatable-cell-template>
                <span>{{value}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="PatientId" [maxWidth]="200" headerClass="text-center" cellClass="text-center">
            <ng-template let-value="value" ngx-datatable-cell-template>
                <span>{{value}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Action" [maxWidth]="200" headerClass="text-center" cellClass="text-center">
            <ng-template let-value="value" ngx-datatable-cell-template>
                <button nbButton outline status="danger" size="tiny">Action</button>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>