<nb-card size="large" class="h-100" style="overflow: auto" [nbSpinner]="isLoading" >
  <div class="row justify-content-end mt-3">
    <div class="col-1 ps-1" *ngIf="addSchedule">
    <nb-actions size="medium">
        <nb-action nbTooltip="Add Schedule" nbTooltipPlacement="top" icon="plus-circle-outline" (click)="showList()"></nb-action>
    </nb-actions>
</div>
</div>
  <div class="col-md-6 offset-md-3 text-center" *ngIf="!showProviderList">
  <nb-card-body>
          <nb-list class="own-scroll" nbInfiniteList [threshold]="15">
            <nb-list-item class="cursor-pointer d-flex justify-content-between" *ngFor="let provider of totalAppointment; let i=index">
          <div class="row justify-content-center p-4">
            <div class="row justify-content-center w-100 mb-3">
              <div class="col-xl-3 col-lg-3 col-md-3 col-4">
                <ngx-avatar id="provider" name="{{provider.name}}" src="{{provider?.imageUrl}}" cornerRadius="10"
                [round]="false" size='100'>
              </ngx-avatar>
              </div>
              <div class="col-xl-9 col-lg-9 col-md-9 col-8 p-0">
                <p class="text-info my-2">{{provider?.Name}}</p>
                <p class="text-muted sub-text my-2"> {{provider?.subject}}</p>
                <p class="text-muted sub-text my-2"> {{provider?.scheduled}}&nbsp; - &nbsp;{{provider?.duration}}</p>
              </div>
            </div>
          

           <div class="row w-100 my-2">
            <div class="col-md-4  col-4  col-lg-4 col-sm-4 px-1">
              <!-- <button nbButton fullWidth outline status="success" size="small" (click)="rescheduleModel(provider,rescheduleContent)">
                {{'kJoin' | translate }}
            </button> -->
            </div> 
            <div class="col-md-4  col-4  col-lg-4 col-sm-4 px-1">
              <button nbButton fullWidth outline status="primary" size="small" (click)="rescheduleModal(rescheduleDialog)">
                {{'kReschedule' | translate }}
            </button>
            </div>
            <div class="col-md-4  col-4 col-lg-4 col-sm-4 px-1">
              <button nbButton fullWidth outline status="danger" size="small" (click)="cancelAppointment(deleteDialog)">
                {{'kCancel' | translate }}
            </button>
            </div>
          </div>
        </div>
      </nb-list-item>
    </nb-list>
    <div class="h6 text-center p-4" *ngIf="appointmentlistResult?.length == 0">
      No schedules found. Tap + to add schedule.
    </div>
  </nb-card-body>
  </div> 

<div class="row " *ngIf="showProviderList">
            <div class="col-md-6 offset-md-3">
                <ng-container *ngIf="!showSlots">
                <nb-card-header>
                    <div class="w-100 pt-2">
                      <input type="search" nbInput fullWidth status="basic" class="mb-3" name="searchText" id="searchText" 
                      placeholder="Search for a doctor" [(ngModel)]="searchText" (keyup)="searchProvider()">
                        <nb-select class="w-100 p-0" fullWidth name="speciality"
                            placeholder="Please select a speciality" [(ngModel)]="selectSpeciality"
                            (ngModelChange)="getProvidersList($event)">
                            <nb-option *ngFor="let val of providerSpeciality" value="{{val.type}}"> {{val.type}}
                            </nb-option>

                        </nb-select>
                    </div>
                </nb-card-header>
                <nb-card-body>
                    <nb-list class="own-scroll" nbInfiniteList [threshold]="15"
                        *ngIf="providersList.length !== 0 ;else noRecrd">
                        <nb-list-item class="cursor-pointer d-flex justify-content-between"
                            *ngFor="let provider of providersList" (click)="getProviderDetails(provider.npi)">
                            <div class="row">
                                <div class="col-md-3 col-lg-3 col-sm-3 col-3 col-xl-3 mr-2 pt-4">
                                    <ngx-avatar name="{{provider.practiceName}}" src="{{provider?.imageUrl}}"
                                        cornerRadius="10" [round]="true" size="50" class="image-size">
                                    </ngx-avatar>
                                </div>
                                <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 ml-3 pr-0 text-left">
                                    <span class="subtitle">{{provider?.practiceName}}</span>
                                    <span class="d-block">{{provider?.specialties}}</span>
                                    <span class="d-block font-weight-bold" style="color:000000;"
                                        *ngIf="provider.status == 'Offline'"> {{provider.status}}</span>
                                    <span class="d-block font-weight-bold" style="color:green;"
                                        *ngIf="provider.status == 'Available Now'"> {{provider.status}}</span>
                                    <span class="d-block font-weight-bold" style="color:red;"
                                        *ngIf="provider.status == 'Accepts Scheduled Visits'">
                                        {{provider.status}}</span>
                                    <span class="d-block font-weight-bold" style="color:#3498db;"
                                        *ngIf="provider.status == 'Report Symptoms, Get CallBack'">
                                        {{provider.status}}</span>
                                    <span class="d-block font-weight-bold" style="color:orange;"
                                        *ngIf="provider.status == 'Report Symptoms, Get Treatment'">
                                        {{provider.status}}</span>
                                </div>
                            </div>
                        </nb-list-item>
                    </nb-list>
                    <ng-template #noRecrd>
                        <div class="text-center">
                            <span>No Providers Found</span>
                        </div>
                    </ng-template>
                </nb-card-body>
            </ng-container>
                <ng-container *ngIf="showSlots">
                    <app-time-slots></app-time-slots>
                </ng-container>
            </div>
        </div> 
    </nb-card>

    <ng-template #deleteDialog>
      <nb-card class="dialog-card">
          <nb-card-header>
              <p class="subtitle">Are you sure want to cancel this appoitment?</p>
          </nb-card-header>
          <nb-card-body>
              <div class="float-end">
                  <button nbButton status="success" size="small" (click)="deleteAppointment()">Yes</button>
                  <button nbButton status="danger" class="ms-2" size="small" (click)="close()">No</button>
              </div>
          </nb-card-body>
      </nb-card>
  </ng-template>
  <ng-template #rescheduleDialog>
    <nb-card class="dialog-card">
        <nb-card-header>
            <p class="subtitle">Are you sure want to reschedue this appoitment?</p>
        </nb-card-header>
        <nb-card-body>
            <div class="float-end">
                <button nbButton status="success" size="small" (click)="rescheduleAppointment()">Yes</button>
                <button nbButton status="danger" class="ms-2" size="small" (click)="closeReschedule()">No</button>
            </div>
        </nb-card-body>
    </nb-card>
</ng-template>