<div class="container-fluid h-100" style="margin-top: 10vh;">
    <div class="row mx-5 my-5">
        <div class="col-md-6">
            <h5>Proceed With Your</h5>
            <h2>Forget Password</h2>
            <form [formGroup]="form">
                <div class="row pt-5 w-75">
                    <div class="col-12">
                        <label class="animated-label" for="email">EMAIL</label>
                        <i class="fa fa-envelope right float-right"></i>
                        <input class="form-control box-align" id="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && r.email.errors}">
                        <div class="invalid-feedback" *ngIf="submitted && r.email.errors">
                            <small *ngIf="submitted && r.email.errors.required">
                                Email is required
                            </small>
                        </div>
                        <div class="invalid-feedback" *ngIf="submitted && r.email.errors">
                            <small *ngIf="submitted && r.email.errors.pattern">
                                Please enter a valid email address
                            </small>
                        </div>
                    </div>
                    <div class="col-md-12 pt-3">
                        <button type="submit" class="btn btn-theme btn-register" (click)="submit()">Submit
                            <i class="fa fa-angle-right pt-2 float-right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="offset-md-2 col-md-4 my-auto">
            <img style="border: 8px solid white;background-repeat: no-repeat;background-position: center center;height: auto;max-height:84px;margin: auto;width: auto;max-width: 340px;"
                class=":login-logo" alt="" src="https://geniemd-generalfiles.s3.amazonaws.com/688b12a4742c4986bf8d68e4e97f73ba.png?AWSAccessKeyId=AKIAIZH5KUW5NWRU5FDQ&Expires=1928697718&Signature=Yz%2FzhESmSzq781QKWf1HtsQer14%3D">
        </div>
    </div>
</div>
