<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-body>
                <h3>Patients</h3>
                <div class="d-flex ">
                    <div class="p-2 w-100 patient-content">
                        <nb-route-tabset [tabs]="tabs" id="patients"></nb-route-tabset>
                    </div>
                    <div class="p-2 flex-shrink-0 cursor-pointer text-primary" (click)="addPatient()"><i class="fas fa-plus" style="padding-right: 10px;" (click)="addPatient()"></i>Add Patient</div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>