<nb-card class="mb-0 patient-list-width" size="medium" [nbSpinner]="isLoading">
    <nb-card-header class="justify-content-center p-0">
        <nb-list-item>
            <div class="row container-fluid p-0">
                <div class="col-6 p-0"><b>New Chat</b></div>
                <div class="col-6 p-0">
                    <nb-icon size="small" class="float-end" nbTooltipPlacement="left" (click)="closeDialog()" icon="close-outline"></nb-icon>
                </div>
            </div>
        </nb-list-item>
        <nb-list-item>
            <nb-form-field class="w-100">
                <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
                <input type="search" id='searchText' name="searchText" fullWidth status="success" nbInput [(ngModel)]="searchText" #SearchInput>
            </nb-form-field>
        </nb-list-item>
        <nb-list-item class="pb-0">
            <div class="row m-auto">
                <div class="col-auto mx-auto mb-3">
                    <nb-button-group status="primary" size="tiny">
                        <button nbButtonToggle nbButton pressed (click)="getPatientsList()">Patients</button>
                        <button nbButtonToggle nbButton (click)="getProvidersList()">Providers</button>
                    </nb-button-group>
                </div>
            </div>
        </nb-list-item>
    </nb-card-header>
    <nb-list *ngIf="(!showList && usersProvider.length == 0 )|| (showList && users.length == 0)">
        <nb-list-item class="justify-content-center">
            No Records found
        </nb-list-item>
    </nb-list> 
    <nb-list class="own-scroll" nbInfiniteList *ngIf="showList">
        <nb-list-item class="cursor-pointer d-flex justify-content-between" *ngFor="let user of users">
            <nb-user *ngIf="!isLoading" class="cursor-pointer warning" [name]="user.name" [title]="user.dob" [picture]="user.imageUrl" (click)="createChat(user)">
            </nb-user>
        </nb-list-item>
    </nb-list>
    <nb-list class="own-scroll" *ngIf="!showList">
        <nb-list-item class="cursor-pointer d-flex justify-content-between" *ngFor="let user of usersProvider">
            <nb-user *ngIf="!isLoading" class="cursor-pointer warning" [name]="user.name" [title]="user.dob" [picture]="user.imageUrl" (click)="createChat(user)">
            </nb-user>
        </nb-list-item>
    </nb-list>  
</nb-card>