<div class="container-fluid">

    <div class="row">
        <div class="col-2" style="border: 1px solid;">
            <app-patients></app-patients>

        </div>
        <div class="col-10">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                <li [ngbNavItem]="1">
                    <a ngbNavLink>Vitals</a>
                    <ng-template ngbNavContent>
                        <div class="p-4">
                            Time Range
                            <div class="col-md-3">
                                <select class="form-control border-primary" [(ngModel)]="duration" (ngModelChange)="getList($event)">
                                    <option *ngFor="let time of timeduration" value="{{time.val}}" selected>
                                        {{time.title}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="col-12 p-3  mt-2 w-100">
                                    <h4>Blood Pressure</h4>
                                    <canvas id="myChart" width="350" height="100" #pressureChart></canvas>
                                </div>
                                <div class="col-12 p-3 mb-4">
                                    <h4>Weight</h4>
                                    <canvas id="myChart" width="350" height="100" #weightChart></canvas>
                                </div>
                                <div class="col-12 p-3 mb-4">
                                    <h4>Spo2</h4>
                                    <canvas id="myChart" width="350" height="100" #spoChart></canvas>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-12 p-3 mb-4">
                                    <h4>Weight</h4>
                                    <canvas id="myChart" width="500" height="400" #totalChart></canvas>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <a ngbNavLink>Alerts</a>
                    <ng-template ngbNavContent>
                        <div class="p-4">
                            Time Range : Last 7 days
                        </div>
                        <table class="table table-hover table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Alert</th>
                                    <th>Detail</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1/1/2021</td>
                                    <td>Blood Pressure</td>
                                    <td>Systolic 190 > 170</td>
                                    <td>Click</td>
                                </tr>
                                <tr>
                                    <td>1/1/2021</td>
                                    <td>Blood Pressure</td>
                                    <td>Systolic 190 > 170</td>
                                    <td>Click</td>
                                </tr>
                                <tr>
                                    <td>1/1/2021</td>
                                    <td>Blood Pressure</td>
                                    <td>Systolic 190 > 170</td>
                                    <td>Click</td>
                                </tr>
                                <tr>
                                    <td>1/1/2021</td>
                                    <td>Blood Pressure</td>
                                    <td>Systolic 190 > 170</td>
                                    <td>Click</td>
                                </tr>
                                <tr>
                                    <td>1/1/2021</td>
                                    <td>Blood Pressure</td>
                                    <td>Systolic 190 > 170</td>
                                    <td>Click</td>
                                </tr>
                                <tr>
                                    <td>1/1/2021</td>
                                    <td>Blood Pressure</td>
                                    <td>Systolic 190 > 170</td>
                                    <td>Click</td>
                                </tr>
                                <tr>
                                    <td>1/1/2021</td>
                                    <td>Blood Pressure</td>
                                    <td>Systolic 190 > 170</td>
                                    <td>Click</td>
                                </tr>
                            </tbody>
                        </table>
                    </ng-template>
                </li>
                <li [ngbNavItem]="3">
                    <a ngbNavLink>Visits</a>
                    <ng-template ngbNavContent>

                        <div class="container-fluid">
                            <div class="row">
                                <button class="btn btn-danger m-2">Follow up assessment</button>
                                <button class="btn btn-success m-2">Patient Call In</button>
                                <button class="btn btn-secondary m-2">Call Now</button>
                                <button class="btn btn-primary m-2">New</button>
                            </div>
                            <div class="row">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Date</th>
                                            <th scope="col">Provider</th>
                                            <th scope="col">Reason</th>
                                            <th scope="col">Del</th>
                                            <th scope="col">Re</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1/1/2021</td>
                                            <td>Blood Pressure</td>
                                            <td>Dr.kate</td>
                                            <td>Click</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>1/1/2021</td>
                                            <td>Blood Pressure</td>
                                            <td>Dr.williams</td>
                                            <td>Click</td>
                                        </tr>
                                        <tr>
                                            <td>1/1/2021</td>
                                            <td>Blood Pressure</td>
                                            <td>Dr.Martha jonas</td>
                                            <td>Click</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>1/1/2021</td>
                                            <td>Blood Pressure</td>
                                            <td>Dr.Kate</td>
                                            <td>Click</td>
                                        </tr>
                                        <tr>
                                            <td>1/1/2021</td>
                                            <td>Blood Pressure</td>
                                            <td>Dr.Williams</td>
                                            <td>Click</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>1/1/2021</td>
                                            <td>Blood Pressure</td>
                                            <td>Dr.Williams</td>
                                            <td>Click</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>1/1/2021</td>
                                            <td>Blood Pressure</td>
                                            <td>Dr.Kate</td>
                                            <td>Click</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </ng-template>
                </li>
                <li [ngbNavItem]="4">
                    <a ngbNavLink>Care Team</a>
                    <ng-template ngbNavContent>
                        <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id
                            diam. Nulla
                            facilisi.
                            Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt
                            eu,
                            congue et odio.
                            Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices
                            et. Sed
                            diam urna,
                            egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus
                            faucibus nisl
                            enim, nec
                            tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius
                            natoque
                            penatibus et
                            magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet
                            ultricies
                            in eget
                            neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
                    </ng-template>
                </li>
                <li [ngbNavItem]="5">
                    <a ngbNavLink>Profile</a>
                    <ng-template ngbNavContent>
                        <table class="table table-striped table-border mt-2">
                            <tbody>

                                <tr class="green">
                                    <td scope="row" style="width: 50%; font-size: 18px; font-weight: 100 !important">
                                        First</td>
                                    <td id="patientName"
                                        style="font-size: 18px; font-weight: 100 !important; padding-left: 70px;">
                                        Singara
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row" style="width: 50%; font-size: 18px; font-weight: 100 !important">
                                        Last Name </td>
                                    <td id="patientGender"
                                        style="font-size: 18px; font-weight: 100 !important; padding-left: 70px;">Vel
                                    </td>
                                </tr>
                                <tr class="green">
                                    <td scope="row" style="width: 50%; font-size: 18px; font-weight: 100 !important">
                                        Date of Birth
                                    </td>
                                    <td id="patientDOB"
                                        style="font-size: 18px; font-weight: 100 !important; padding-left: 70px;">
                                        01/01/2020
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row" style="width: 50%; font-size: 18px; font-weight: 100 !important">
                                        Gender </td>
                                    <td id="patientAddress"
                                        style="font-size: 18px; font-weight: 100 !important; padding-left: 70px;">Male
                                    </td>
                                </tr>
                                <tr class="green">
                                    <td scope="row" style="width: 50%; font-size: 18px; font-weight: 100 !important">
                                        Email </td>
                                    <td id="patientPhone"
                                        style="font-size: 18px; font-weight: 100 !important; padding-left: 70px;">
                                        test@yopmail.com
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row" style="width: 50%; font-size: 18px; font-weight: 100 !important">
                                        Cell </td>
                                    <td id="patientPhone"
                                        style="font-size: 18px; font-weight: 100 !important; padding-left: 70px;">
                                        9874563210
                                    </td>
                                </tr>
                                <tr class="green">
                                    <td scope="row" style="width: 50%; font-size: 18px; font-weight: 100 !important">
                                        Address </td>
                                    <td id="patientPhone"
                                        style="font-size: 18px; font-weight: 100 !important; padding-left: 70px;">no 12,
                                        san
                                        street
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row" style="width: 50%; font-size: 18px; font-weight: 100 !important">
                                        Devices </td>
                                    <td id="patientPhone"
                                        style="font-size: 18px; font-weight: 100 !important; padding-left: 70px;">BP,
                                        TH, GM,
                                        SC
                                    </td>
                                </tr>
                                <tr class="green">
                                    <td scope="row" style="width: 50%; font-size: 18px; font-weight: 100 !important">
                                        Consent Forms </td>
                                    <td id="patientPhone"
                                        style="font-size: 18px; font-weight: 100 !important; padding-left: 70px;">...
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </ng-template>
                </li>
                <li [ngbNavItem]="6">
                    <a ngbNavLink>History</a>
                    <ng-template ngbNavContent>
                        <div class="p-4">
                            Time Range : Last 7 days
                        </div>
                        <table class="table table-hover table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Event</th>
                                    <th>Attended By</th>
                                    <th>Duration</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1/1/2021</td>
                                    <td>Blood Pressure</td>
                                    <td>Dr.Martha Jonas</td>
                                    <td>10.11 Am </td>
                                </tr>
                                <tr>
                                    <td>7/1/2021</td>
                                    <td>Blood Pressure</td>
                                    <td>Dr.wiiliam</td>
                                    <td>10.20 Am</td>
                                </tr>
                                <tr>
                                    <td>8/1/2021</td>
                                    <td>Blood Pressure</td>
                                    <td>Dr.kate</td>
                                    <td>11.20 Am</td>
                                </tr>
                                <tr>
                                    <td>9/1/2021</td>
                                    <td>Blood Pressure</td>
                                    <td>Dr.Williams</td>
                                    <td>10.25 Am</td>
                                </tr>
                                <tr>
                                    <td>10/1/2021</td>
                                    <td>Blood Pressure</td>
                                    <td>Dr.Martha jonas</td>
                                    <td>10.26 Am</td>
                                </tr>
                                <tr>
                                    <td>11/1/2021</td>
                                    <td>Blood Pressure</td>
                                    <td>Dr.James</td>
                                    <td>10.30 Am</td>
                                </tr>
                                <tr>
                                    <td>12/1/2021</td>
                                    <td>Blood Pressure</td>
                                    <td>Dr.kate</td>
                                    <td>10.35 Am</td>
                                </tr>
                            </tbody>
                        </table>
                    </ng-template>
                </li>
            </ul>

            <div [ngbNavOutlet]="nav" class="mt-2"></div>

            <pre>Active: {{ active }}</pre>
        </div>
    </div>
</div>