<div class="container-fluid">

    <div class="row">
        <div class="col-2" style="border: 1px solid;">
            <app-patients></app-patients>

        </div>
        <div class="col-10">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                <li [ngbNavItem]="1">
                    <a ngbNavLink>Vitals</a>
                    <ng-template ngbNavContent>
                        <h5 class="time">Time Range: <span class="center">Last 7 days</span></h5>
                        <div class="col-9 p-3 mb-2 bg-blue text-white">Blood pressure</div>
                        <div class="col-9 p-3 mb-2 bg-blue text-white">spo2</div>
                        <div class="col-9 p-3 mb-2 bg-blue text-white">Weight</div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <a ngbNavLink>Alerts</a>
                    <ng-template ngbNavContent>
                        <table class = "table table-hover table-bordered table-striped">
                            <thead>
                               <tr>
                                  <th>Date</th>
                                  <th>Alert</th>
                                  <th>Detail</th>
                                  <th>Action</th>
                               </tr>
                            </thead>
                            <tbody>
                               <tr>
                                  <td>1/1/2021</td>
                                  <td>Blood Pressure</td>
                                  <td>Systolic 190 > 170</td>
                                  <td>Click</td>
                               </tr>
                               <tr>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                               </tr>
                               <tr>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                               </tr>
                               <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                             </tr>
                             <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                             </tr>
                             <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                             </tr>
                             <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                             </tr>
                            </tbody>
                         </table>
                    </ng-template>
                </li>
                <li [ngbNavItem]="3">
                    <a ngbNavLink>Visits</a>
                    <ng-template ngbNavContent>

                        <div class="container-fluid">
                            <div class="row">
                                <button class="btn btn-danger m-2">Follow up assessment</button>
                                <button class="btn btn-success m-2">Patient Call In</button>
                                <button class="btn btn-secondary m-2">Call Now</button>
                                <button class="btn btn-primary m-2">New</button>
                            </div>
                            <div class="row">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Date</th>
                                            <th scope="col">Provider</th>
                                            <th scope="col">Reason</th>
                                            <th scope="col">Del</th>
                                            <th scope="col">Re</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </ng-template>
                </li>
                <li [ngbNavItem]="4">
                    <a ngbNavLink>Care Team</a>
                    <ng-template ngbNavContent>
                        <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id
                            diam. Nulla
                            facilisi.
                            Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt
                            eu,
                            congue et odio.
                            Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices
                            et. Sed
                            diam urna,
                            egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus
                            faucibus nisl
                            enim, nec
                            tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius
                            natoque
                            penatibus et
                            magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet
                            ultricies
                            in eget
                            neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
                    </ng-template>
                </li>
                <li [ngbNavItem]="5">
                    <a ngbNavLink>Profile</a>
                    <ng-template ngbNavContent>
                        <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id
                            diam. Nulla
                            facilisi.
                            Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt
                            eu,
                            congue et odio.
                            Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices
                            et. Sed
                            diam urna,
                            egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus
                            faucibus nisl
                            enim, nec
                            tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius
                            natoque
                            penatibus et
                            magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet
                            ultricies
                            in eget
                            neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
                    </ng-template>
                </li>
                <li [ngbNavItem]="6">
                    <a ngbNavLink>History</a>
                    <ng-template ngbNavContent>
                        <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id
                            diam. Nulla
                            facilisi.
                            Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt
                            eu,
                            congue et odio.
                            Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices
                            et. Sed
                            diam urna,
                            egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus
                            faucibus nisl
                            enim, nec
                            tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius
                            natoque
                            penatibus et
                            magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet
                            ultricies
                            in eget
                            neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
                    </ng-template>
                </li>
            </ul>

            <div [ngbNavOutlet]="nav" class="mt-2"></div>

            <pre>Active: {{ active }}</pre>
        </div>
    </div>
</div>