<ng-template #filter let-data let-ref="dialogRef">
    <form [formGroup]="registrationForm">
        <nb-card size="small">
            <nb-card-header>
                <span>Filter</span>
            </nb-card-header>
            <nb-card-body class="example-items-col">
                <div>
                    <label for="inputFirstName" class="label">First Name</label>
                    <input type="text" fullWidth fieldSize="giant" formControlName="firstName" nbInput
                        id="inputFirstName" placeholder="First Name">
                </div>
                <div>
                    <label for="inputLastName" class="label">Last Name</label>
                    <input type="text" fullWidth fieldSize="giant" formControlName="lastName" nbInput id="inputLastName"
                        placeholder="Last Name">
                </div>
                <div>
                    <div for="inputFirstName" class="label">Date Of Birth</div>
                    <input nbInput fullWidth fieldSize="giant" formControlName="dob" placeholder="Pick Date"
                        [nbDatepicker]="formcontrol">
                    <nb-datepicker #formcontrol></nb-datepicker>
                </div>
                <div>
                    <div>
                        <label class="label">User</label>
                    </div>
                    <nb-button-group status="primary"  size="small" outline>
                        <button class="w-50" nbButtonToggle nbButton>All</button>
                        <button class="w-50" nbButtonToggle nbButton>Monitored</button>
                    </nb-button-group>
                </div>
                <div>
                    <div>
                        <label class="label">Gender</label>
                    </div>
                    <nb-button-group status="primary">
                        <button class="w-50" nbButtonToggle nbButton>Male</button>
                        <button class="w-50" nbButtonToggle nbButton>Female</button>
                        <button class="w-50" nbButtonToggle nbButton>Other</button>
                    </nb-button-group>
                </div>
            </nb-card-body>
            <nb-card-footer>
                <div class="row pr-1 justify-content-end">
                    <div class="col-auto mr-2 ml-2 d-flex justify-content-end">
                        <button nbButton status="danger" (click)="ref.close()">Cancel</button>
                        <button nbButton status="success" (click)="startSearch()">Search</button>
                    </div>
                </div>
            </nb-card-footer>
        </nb-card>
    </form>
</ng-template>