<!-- <app-header *ngIf="showHeader" [showIcon]="showIcon"></app-header> -->
<div class="wrapper">
    <nav id="sidebar">
        <ul class="list-unstyled components">
            <li>
                <a><img class="p-2" src="assets/img/WaitingRoom.png" /></a>
            </li>
            <li>
                <a><img class="p-2" src="assets/img/Scheduled.png" /></a>
            </li>
            <li>
                <a><img class="p-2" src="assets/img/Patients.png" /></a>
            </li>
            <li>
                <a><img class="p-2" src="assets/img/History.png" /></a>
            </li>
            <li>
                <a><img class="p-2" src="assets/img/WaitingRoom.png" /></a>
            </li>
            <li>
                <a><img class="p-2" src="assets/img/Scheduled.png" /></a>
            </li>
            <li>
                <a><img class="p-2" src="assets/img/Patients.png" /></a>
            </li>
            <li>
                <a><img class="p-2" src="assets/img/History.png" /></a>
            </li>
        </ul>
    </nav>
    <div id="content" class="w-100">
        <router-outlet></router-outlet>
    </div>  
</div>

  