#sidebar {
    min-width: 50px;
    max-width: 50px;
    background: #282828;
    color: #fff;
    transition: all .3s;
}

#sidebar.active {
    margin-left: -250px;
}
.wrapper{
    display: flex;
    align-items: stretch;
}
#content{
    min-height: calc(100vh - 104px);
    border: 1px solid;
}