<!-- <app-header *ngIf="showHeader" [showIcon]="showIcon"></app-header> -->
<div class="wrapper p-4">
    <nav id="sidebar">
        <ul class="list-unstyled components">
            <li>
                <a><img class="pr-4" src="assets/img/WaitingRoom.png" />content-1</a>
            </li>
            <li>
                <a><img class="pr-4" src="assets/img/Scheduled.png" />content-2</a>
            </li>
            <li>
                <a><img class="pr-4" src="assets/img/Patients.png" />content-3</a>
            </li>
            <li>
                <a><img class="pr-4" src="assets/img/History.png" />content-4</a>
            </li>
        </ul>
    </nav>
</div>
<!-- Page Content -->
<!-- <div id="content" [ngStyle]="{'padding':!showSideBar ? '0px':'20px'}"> -->
    <router-outlet></router-outlet>
<!-- </div> -->