#sidebar {
    min-width: 250px;
    max-width: 250px;
}

#sidebar.active {
    margin-left: -250px;
}
.wrapper{
    background-color: black;
    width: 10%;
    height: 1000px;
    color: white;
}
#content{
    min-height: calc(100vh - 104px);
}