<nb-card size="large" class="h-100" style="overflow: auto" [nbSpinner]="isLoading" nbSpinnerMessage="Please wait. We are fetching the history">
    <nb-card-body>
        <div class="row justify-content-end">
            <div class="col-1 ps-1">
                <nb-actions size="medium">
                    <nb-action nbTooltip="Add" nbTooltipPlacement="top" icon="plus-circle-outline"
                        (click)="open(historyDialog)"></nb-action>
                </nb-actions>
            </div>
        </div>

        <ng-template #historyDialog>
            <nb-card class="dialog-card card-width">
                <nb-card-header>
                    <h6 class="text-center">{{'kAddNote' | translate}}</h6>
                </nb-card-header>
                <nb-card-body>
                    <form [formGroup]="historyForm">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group mb-1">
                                    <label for="note" class="label"> <span class="text-danger">*</span>
                                        {{'kNote' | translate}}</label>                                
                                        <textarea nbInput fullWidth placeholder="Note"  formControlName="note" id="note"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </nb-card-body>
                <nb-card-footer>
                    <div class="row justify-content-end">
                        <div class="col-2 pe-2">
                            <button nbButton status="danger" class="w-100" size="medium" (click)="refclose()">{{'kCancel' | translate}}</button>
                        </div>
                        <div class="col-2 ps-2">
                            <button nbButton status="success" class="w-100" size="medium" [disabled]="!historyForm.valid"
                            (click)="save()">{{'kSave' | translate}}</button>
                        </div>
                    </div>
                </nb-card-footer>
            </nb-card>
        </ng-template>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" class="subtitle">{{'kName' | translate}}</th>
                            <th scope="col" class="subtitle">{{'kNote' | translate}}</th>
                            <th scope="col" class="subtitle">{{'kDate' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data; let i=index">
                            <td class="subtitle">{{item.name}}</td>
                            <td class="subtitle">{{item.note}}</td>
                            <td class="subtitle">{{item.date}}</td>
                        </tr>
                        <tr *ngIf="data.length==0" class="text-center">
                            <td colspan="3">
                                <p>{{'kNoRecordsFound' | translate}}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </nb-card-body>
</nb-card>