<nb-card size="large" class="h-100" [nbSpinner]="isLoading" nbSpinnerMessage="Please wait. We are fetching the alerts list" >
<!-- <nb-card-header>Alerts</nb-card-header> -->
<nb-card-body>
        <!-- <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" class="subtitle">{{'kCreatedDate' | translate}}</th>
                    <th scope="col" class="subtitle">{{'kAlert' | translate}}</th>
                    <th scope="col" class="subtitle text-center">{{'kStatus' | translate}}</th>
                    <th scope="col" class="subtitle">{{'kResolvedDate' |  translate}}</th>
                    <th scope="col" class="subtitle">{{'kTextNotes' | translate}}</th>
                    <th class="text-center subtitle" scope="col">{{'kActions' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of alerts;let i=index">
                    <td class="align-middle subtitle">{{item.alertTime | date : 'dd/MM/yy, h:mm a' || '-'}}</td>
                    <td class="align-middle subtitle ">{{getType(item.alertType)}}</td>
                    <td class="align-middle subtitle text-center" [ngClass]="{'text-success': item.alertStatus == 3 , 'text-danger': item.alertStatus == 1, 'text-warning': item.alertStatus == 2 }">{{getStatus(item.alertStatus)}}</td>
                    <td class="align-middle subtitle">{{item.alertResolved | date : 'dd/MM/yy, h:mm a' || '-'}}</td>
                    <td class="align-middle subtitle">
                        <a (click)="viewData(item)" class="cursor-pointer">{{'kViewNotes' | translate}}</a>
                    </td>
                    <td class="text-center">
                        <button nbButton status="warning" outline (click)="resolveConfirmation(confirmation,item)" [disabled]="item.alertStatus == 3 " size="tiny">{{'kResolve' | translate}}</button>
                    </td>
                </tr>
                <tr class="text-center" *ngIf="!alerts.length">
                    <td colspan="6">
                        <p>{{'kNoRecordsFound'| translate}}</p>
                    </td>
                </tr>
            </tbody>
        </table> -->
        <ngx-datatable class="bootstrap" [rows]="alerts" [columnMode]="ColumnMode.force" [scrollbarV]="true"
        [headerHeight]="50" [rowHeight]="50" [loadingIndicator]="isLoading" style="height: 600px;" >
        <ngx-datatable-column name="Created Date" prop="alertTime" headerClass="ps-4" cellClass="ps-4">
            <ng-template let-value="value" ngx-datatable-cell-template>
                <span>{{value | date : 'dd/MM/yy, h:mm a'}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Alert" prop="alertType" [maxWidth]="250">
            <ng-template let-value="value" ngx-datatable-cell-template>
                <span>{{getType(value) || '-'}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Status" prop="alertStatus" [maxWidth]="250" headerClass="text-center" cellClass="text-center">
            <ng-template let-value="value" ngx-datatable-cell-template>
                <span [ngClass]="{'text-success': value == 3 , 'text-danger': value == 1, 'text-warning': value == 2 }" >{{getStatus(value)  || '-'}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Resolved Date" prop="alertResolved" [maxWidth]="200" headerClass="text-center" cellClass="text-center">
            <ng-template let-value="value" ngx-datatable-cell-template let-row="row">
                <span>{{value | date : 'dd/MM/yy, h:mm a' || '-'}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Notes" prop="alertData" headerClass="text-center" cellClass="text-center">
            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                <a (click)="viewData(row)" class="cursor-pointer">{{'kViewNotes' | translate}}</a>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Actions" [maxWidth]="200" headerClass="text-center" cellClass="text-center">
            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                <button nbButton status="warning" outline (click)="resolveConfirmation(confirmation,row)" [disabled]="row.alertStatus == 3 " size="tiny">{{'kResolve' | translate}}</button>
            </ng-template>
        </ngx-datatable-column>
        </ngx-datatable>
    </nb-card-body>
</nb-card>
<ng-template #confirmation>
    <nb-card class="dialog-card">
        <nb-card-header>
            <p class="subtitle">{{'KMarkAsResolved' | translate}}</p>
        </nb-card-header>
        <nb-card-body>
            <div class="float-end">
                <button nbButton status="success" size="small" (click)="close(true)">{{'kYes' | translate}}</button>
                <button nbButton status="danger" class="ms-2" size="small" (click)="close(false)">{{'kNo' | translate}}</button>
            </div>
        </nb-card-body>
    </nb-card>
</ng-template>