<nb-layout>
  <nb-layout-header fixed>
    <div class="d-flex w-100">
      <a nbButton ghost (click)="toggleSidebar()">
        <nb-icon icon="menu-2-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
      </a>
      <span class="ps-2 d-flex align-items-center">
        <img [src]="logo" alt="" height="40">
      </span>
      <span class="ps-2 h4 text-uppercase d-flex align-items-center">{{ title }}</span>
      <span class="ms-auto"></span>
      <span>
        <button nbTooltip="Change to Dark" nbTooltipPlacement="start" (click)="toggleTheme('default')" *ngIf="theme === 'default'; else dark" nbButton ghost status="primary"><nb-icon icon="sun-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon></button>
      </span>
      <span class="ps-2">
        <nb-user [name]="profile?.screenName" title="Care Coordinator" [picture]="profile?.imageURL"></nb-user>
      </span>
    </div>
  </nb-layout-header>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
  <nb-sidebar responsive>
    <nb-menu [items]="menus"></nb-menu>
  </nb-sidebar>
  <nb-layout-footer><span class="caption">{{version}}</span></nb-layout-footer>
</nb-layout>

<ng-template #dark>
  <button nbTooltip="Change to Light" nbTooltipPlacement="start"  (click)="toggleTheme('dark')"  nbButton ghost status="primary"><nb-icon icon="moon-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon></button>
</ng-template>