<nb-card size="medium" class="card-width">
    <nb-card-header>
        Notes
    </nb-card-header>
    <nb-card-body>
        <div class="row">
        <div class="col-md-12">
            <!-- <input type="text" nbInput fullWidth fieldSize="giant" placeholder="Write notes"> -->
            <textarea name="notes-area" id="" cols="40" rows="5" nbInput placeholder="Write notes" fullWidth [(ngModel)]="alertNote"></textarea>
        </div>
        <!-- <div class="col-md-12 text-right">
            <button nbButton  status="danger" [disabled]="!alertNote" (click)="updateNotes()">Done</button>

        </div>  -->
            <div class="col-md-12">
                <nb-list>
                    <nb-list-item *ngFor="let note of notes">
                        {{ note }}
                    </nb-list-item>
                </nb-list>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <button nbButton status="danger" size="medium" class="w-100"
                    (click)="closeModal()">{{'kCancel' | translate}}</button>
            </div>
            <div class="col-md-4">
                <button nbButton status="success" class="w-100" size="medium"
                    (click)="updateNotes()">{{'kSave' | translate}}</button>
            </div>
        </div>
    </nb-card-footer>
</nb-card>