<div class="container-fluid d-flex align-item-start flex-column meet">
    <nb-card>
        <nb-card-body>
            <nb-actions size="tiny" class="justify-content-center">
                <nb-action>
                    <nb-icon icon="language" nbTooltip="Translator" nbTooltipPlacement="top" pack="font-awesome">
                    </nb-icon>
                </nb-action>
                <nb-action (click)="this.showTable = !this.showTable">
                    <nb-icon icon="stethoscope" nbTooltip="Vitals" nbTooltipPlacement="top" pack="font-awesome">
                    </nb-icon>
                </nb-action>
                <nb-action icon="monitor-outline" nbTooltip="Share-desktop" nbTooltipPlacement="top"></nb-action>
                <nb-action (click)="this.volume = !this.volume">
                    <nb-icon *ngIf="this.volume" icon="volume-up-outline" nbTooltip="Speaker" nbTooltipPlacement="top">
                    </nb-icon>
                    <nb-icon *ngIf="!this.volume" icon="volume-off-outline" nbTooltip="Mute" nbTooltipPlacement="top">
                    </nb-icon>
                </nb-action>
                <nb-action icon="video-outline" nbTooltip="Video" nbTooltipPlacement="top"></nb-action>
                <nb-action icon="message-circle-outline" nbTooltip="Chat" nbTooltipPlacement="top" (click)="openWindow()"></nb-action>
                <nb-action class="p-1">
                    <button nbButton status="success" class="w-100" size="tiny">
                        <nb-icon icon="person-add-outline" class="text-white"></nb-icon>Invite
                    </button>
                </nb-action>
                <nb-action class="p-1">
                    <button nbButton status="danger" class="w-100" size="tiny">
                        <nb-icon icon="phone-slash" pack="font-awesome" class="text-white"></nb-icon>Leave
                    </button>
                </nb-action>
            </nb-actions>
        </nb-card-body>
    </nb-card>
    <nb-card accent="danger" *ngIf="showTable" class="mt-auto">
        <nb-card-body>
            <div class="d-inline-flex row px-5" *ngFor="let item of vitalsOriginal">
                <div class="col-md-12 border-right">
                    <h5 class="mb-0">{{item.name || '---'}}</h5>
                    <h6 class="mb-0 font-weight-normal">{{item.value || '---'}}</h6>
                    <tiny class="mb-0">{{item.time | date: 'mediumDate'}} {{item.time | date: 'shortTime'}}</tiny>
                </div>
            </div>
            <div class="d-inline-flex row px-5" *ngIf="vitalsOriginal.length === 0">
                <div class="col-md-12 border-right">
                    <p class="mb-0">No Data Found</p>
                </div>
            </div>
        </nb-card-body>
    </nb-card>
    <!-- <nb-card> -->
</div>