<form [formGroup]="form">
    <nb-card [nbSpinner]="isLoading" nbSpinnerMessage="Please wait. We are fetching the patient list">
        <nb-card-header>
            <span>{{'kfilter' | translate}}</span>
        </nb-card-header>
        <nb-card-body class="example-items-col">
            <div>
                <input class="mb-3" type="text" fullWidth size="small" formControlName="firstName" nbInput id="inputFirstName"
                    placeholder="{{'kFirstName' | translate}}">
            </div>
            <div>
                <input class="mb-3" type="text" fullWidth size="small" formControlName="lastName" nbInput id="inputLastName"
                    placeholder="{{'kLastName' | translate}}">
            </div>
            <div>
                <input class="mb-3" nbInput fullWidth size="small" formControlName="dob" placeholder="DD/MM/YYYY"
                    [nbDatepicker]="formcontrol">
                <nb-datepicker #formcontrol></nb-datepicker>
            </div>
            <div>
                <nb-button-group size="small" status="primary">
                    <button nbButtonToggle nbButton (pressedChange)="getGender($event, 'A')" [pressed]="selectedGender === 'A'">{{'kAll' | translate}}</button>
                    <button nbButtonToggle nbButton (pressedChange)="getGender($event, 'M')" [pressed]="selectedGender === 'M'">{{'kMale' | translate}}</button>
                    <button nbButtonToggle nbButton (pressedChange)="getGender($event, 'F')" [pressed]="selectedGender === 'F'">{{'kFemale' | translate}}</button>
                    <button nbButtonToggle nbButton (pressedChange)="getGender($event, 'O')" [pressed]="selectedGender === 'O'">{{'kOther' | translate}}</button>
                </nb-button-group>
            </div>
        </nb-card-body>
        <nb-card-footer class="d-flex justify-content-around">
            <button size="small" class="col-md-2 col-2 d-flex w-25" nbButton status="warning" (click)="resetFilter()"> {{'kClear' | translate}}</button>
            <button size="small" class="col-md-2 col-2 d-flex ms-2 w-25" nbButton status="danger" (click)="close()">{{'kCancel' | translate}}</button>
            <button size="small" class="col-md-2 col-2 d-flex ms-2 w-25" nbButton status="success" (click)="startSearch()" [disabled]="enableSearch() && !form.dirty">{{'kSearch' | translate}}</button>
        </nb-card-footer>
    </nb-card>
</form>