<div class="container-fluid h-100">
    <div class="row" style = "margin-left: 100px;">
        <div class="col-9 mb-4">
            <div class="col-12">
                <div class="heading">
                    <img 
                    style="border: 8px solid white;background-repeat: no-repeat;background-position: center center;height: auto;max-height:84px;margin: auto;width: auto;max-width: 340px;"
                    class=":login-logo"  alt="" src="https://geniemd-generalfiles.s3.amazonaws.com/688b12a4742c4986bf8d68e4e97f73ba.png?AWSAccessKeyId=AKIAIZH5KUW5NWRU5FDQ&Expires=1928697718&Signature=Yz%2FzhESmSzq781QKWf1HtsQer14%3D">
            </div>
            </div>
            <div class="col-12 mt-6">
                <h2 style = "margin-left: 10px; margin-top: 55px; margin-bottom: 88px;">Login</h2>
            </div>
            <!-- <div class="row"> -->
            <div class="col-12">
                    <form (ngSubmit)="login()"  #f="ngForm">
                        <div class="col-12">
                            <div class="form-group"></div>
                        </div>
                        <div class="col-12">
                        <div class="form-group">
                                <div>
                                    <label class="animated-label">EMAIL</label>
                                    <i class="fa fa-envelope right float-right"></i>
                                    <input class="form-control box-align" name="inputEmail" required="" type="text"  [(ngModel)]="user.email" #email="ngModel" >
                                </div>
                           </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                                <div>
                                    <label class="animated-label">PASSWORD</label>
                                    <i class="fa fa-lock right float-right"></i>
                                    <input  [(ngModel)]="user.password" #password="ngModel" class="form-control box-align" name="inputEmail"  required="" type="text"  [(ngModel)]="user.password" #password="ngModel">
                                </div>
                         </div>
                         </div>
                        <div class="col-3">
                        <button type="submit" class="btn btn-theme btn-register">Login
                            <i class="fa fa-angle-right pt-2" style="margin-right: 45px;"></i>
                        </button>
                        </div>
                        <div class="col-12 my-3">
                        <a href="#" class="login-text d-block">Don't have an Account?</a>
                        <a href="#" class=" d-block login-text text-link mt-2">Forgot Password</a>
                         </div>
                  </form>
    
            </div>
        <!-- </div> -->
        </div>
       <div class="col-3 d-flex text-right ">

       </div>

</div>
</div>