.red{
    border-radius: 50%;
    height: 12px;
    width: 16%;
    background-color: red;
    float: right;
    margin: 18px;
}
.green{
    border-radius: 50%;
    height: 12px;
    width: 16%;
    background-color: green;
    float: right;
    margin: 18px;
}
.John{
    margin: auto;
}
.div_hover { background-color: #FFFFFF; }

.div_hover:hover { background-color: lightblue; }
.haven{
    min-height: calc(100vh - 104px);

}
$primary: var(--primary);

.sub-clinic {
  width: 100%;
  height: calc(100vh - 10rem);
  // overflow: scroll;
}

.cursor-pointer {
  cursor: pointer;
}

.avatar {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.title-content {
  color: #a4a9ad;
  font-size: 16px;
}

.height-list{
  // max-height: 200px;
  // min-height: 50px;
  overflow-y: scroll;
}


.tableheader {
  font-size: 16px; 
  font-weight: 100 !important
}

.tablecolumn{
  font-size: 16px;
  font-weight: 100 !important;
  padding-left: 70px;
}
.recordcolor{
  color: grey;
}

ul {
  overflow: hidden;
  // width: 390px;
}

.activated {
  z-index: 1;
  border-left-color: $primary;
  border-left-width: 10px;
  border-left-style: solid;
}

.page-padding {
  padding-left: 25px;
  padding-top: 25px;
}

.pt-14 {
  padding-top: 14px;
}




