@import '~ngx-toastr/toastr';
/* You can add global styles to this file, and also import other style files */
body{
    font-family: Muli,sans-serif !important;
    font-weight: 600;
}
code, kbd, pre, samp{
    font-family: Muli,sans-serif !important;
    // font-weight: bold;

}


.error-class {
    font-size: small;
    color: red;
  }