<nb-card size="large" style="overflow: auto" class="mb-0">
    <nb-card-header>
        <div class="row">
            <div class="col-auto my-auto">{{'kTimeRange' | translate}}</div>
            <div class="col-md-3 ps-4">
                <select class="form-control border-primary justify-content-end" [(ngModel)]="duration"
                    (ngModelChange)="getList($event)">
                    <option *ngFor="let time of timeduration" value="{{time.val}}" selected>
                        {{time.title}}
                    </option>
                </select>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <ng-container *ngIf="vitals?.length">
            <app-vital-chart *ngFor="let item of vitals" [type]="item?.vitalType" [name]="item?.displayName"
                [chartData]="chartInfo"></app-vital-chart>
        </ng-container>
        <p *ngIf="!vitals?.length">{{'kNovitalsfound' | translate}}</p>
    </nb-card-body>
</nb-card>