<nb-card size="large" style="overflow: auto" class="mt-3">
    <nb-card-header>
        <div class="row">
            {{'kTimeRange' | translate}}
            <div class="col-md-3 ps-4">
                <select class="form-control border-primary" [(ngModel)]="duration" (ngModelChange)="getList($event)">
                    <option *ngFor="let time of timeduration" value="{{time.val}}" selected>
                        {{time.title}}
                    </option>
                </select>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <!-- <div class="col-6">
                <div class="col-12 p-3 w-100 chk-block-content" style="display: block" *ngIf="BPChartShow">
                    <h4>{{'kBloodPressure' | translate}}</h4>
                    <canvas baseChart width="300" height="120" [datasets]="BPChartDatasets1" [labels]="BPChartLabels"
                        [options]="BPChartOptions" [chartType]="weightChartType"></canvas>
                </div>
                <div class="col-12 p-3 mb-4" style="display: block" *ngIf="weightChartShow">
                    <h4>{{'kWeight' | translate}}</h4>
                    <canvas baseChart width="300" height="120" [datasets]="weightChartdatasets"
                        [labels]="weightChartLabels" [options]="weightChartOptions"
                        [chartType]="weightChartType"></canvas>
                </div>
                <div class="col-12 p-3 mb-4" *ngIf="weightChartShow">
                    <h4>{{'KPulseOximeterType' | translate}}</h4>
                    <canvas baseChart width="300" height="120" [datasets]="spo2ChartData" [labels]="spo2ChartLabels"
                        [options]="spo2ChartOptions" [chartType]="spo2ChartType"></canvas>
                </div>
            </div> -->
            <div class="col-md-12">
                <app-vital-chart [type]="1"></app-vital-chart>
                <app-vital-chart [type]="2"></app-vital-chart>
                <app-vital-chart [type]="3"></app-vital-chart>
                <app-vital-chart [type]="4"></app-vital-chart>
                <app-vital-chart [type]="5"></app-vital-chart>

            </div>
            <div class="col-md-6">
                <div class="col-12 p-3 mb-4">
                    <h4>{{'kTotal' | translate}}</h4>
                    <canvas baseChart width="400" height="400" chartType="polarArea" [data]="chartData"
                        [labels]="chartLabels" [legend]="chartLegend"></canvas>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-12 p-3 mb-4">
                    <h4>{{'kTotal' | translate}}</h4>
                    <canvas baseChart width="400" height="400" chartType="polarArea" [data]="chartData"
                        [labels]="chartLabels" [legend]="chartLegend"></canvas>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-12 p-3 mb-4">
                    <h4>{{'kTotal' | translate}}</h4>
                    <canvas baseChart width="400" height="400" chartType="polarArea" [data]="chartData"
                        [labels]="chartLabels" [legend]="chartLegend"></canvas>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>