<nb-card size="large" style="overflow: auto" class="mb-0" [nbSpinner]="isLoading">
    <nb-card-header>
        <div class="d-flex w-100">
            <span class="ps-2 subtitle d-flex align-items-center">
                {{'kDateRange' | translate}}
            </span>
            <span class="ps-2">
                <nb-button-group ghost size="small" outline shape="rectangle">
                    <button nbButtonToggle status="primary" (click)="getList('all')" class="m-1" pressed>{{'kAll' | translate}}</button>
                    <button nbButtonToggle status="primary" (click)="getList('1w')" class="m-1">{{'k1w' | translate}}</button>
                    <button nbButtonToggle status="primary" (click)="getList('1m')" class="m-1">{{'k1m' | translate}}</button>
                    <button nbButtonToggle status="primary" (click)="getList('3m')" class="m-1">{{'k3m' | translate}}</button>
                    <button nbButtonToggle status="primary" (click)="getList('6m')" class="m-1">{{'k6m' | translate}}</button>
                    <button nbButtonToggle status="primary" (click)="getList('1y')" class="m-1">{{'k1y' | translate}}</button>
                </nb-button-group>
            </span>
            <span class="ms-auto"></span>
            <span class="subtitle d-flex align-items-center">
                {{'kCustomDate' | translate}}
            </span>
            <span class="ps-2">
                <input nbInput placeholder="Pick a date range" class="form-control" [nbDatepicker]="datepicker"
                    size="small" [(ngModel)]="selectedDateRange">
                <nb-rangepicker #datepicker (rangeChange)="selectedDate($event)"></nb-rangepicker>
            </span>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row" *ngIf="vitals?.length">
            <div class="col-md-12" *ngFor="let item of vitals">
                <ng-container [ngSwitch]="item?.vitalType">
                    <ng-container *ngSwitchCase="1">
                        <app-blood-pressure [data]="chartInfo"></app-blood-pressure>
                    </ng-container>
                    <ng-container *ngSwitchCase="2">
                        <app-glucose [data]="chartInfo"></app-glucose>
                    </ng-container>
                    <ng-container *ngSwitchCase="13">
                        <app-spo2 [data]="chartInfo"></app-spo2>
                    </ng-container>
                    <ng-container *ngSwitchCase="6">
                        <app-weight [data]="chartInfo"></app-weight>
                    </ng-container>
                    <ng-container *ngSwitchCase="14">
                        <app-temperature [data]="chartInfo"></app-temperature>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        {{'kNoRecordsFound' | translate}}
                    </ng-container>
                </ng-container>
                <!-- <app-vital-chart *ngFor="let item of vitals" [type]="item?.vitalType" [name]="item?.displayName"
                [chartData]="chartInfo"></app-vital-chart> -->
            </div>
        </div>
        <p *ngIf="!vitals?.length">{{'kNovitalsfound' | translate}}</p>
    </nb-card-body>
</nb-card>